@charset "UTF-8";

.container{
	margin-top:50px; 
	display: flex ; 
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

h1{
	
	text-align: center;
}
h2{
	margin: 10px 
}
h3{
	margin: 20px;
	text-align: center;
}
a{
	color:#1c71d8;
}