@charset "UTF-8";

.errors{
	color:#e01b24;
	font-size: 12px;
}
.mybtn{
	background-color:#00488d;
	color: white;
	border:1px solid black;
	box-shadow: 3px 3px black; 
}
h1,h2{
	color:#00488d;
}
header{
	display: flex ; 
	justify-content: space-between;
	width:80%;
	margin: 50px auto;
	align-items: center;
	
}
a{
	color: #1c71d8;
}

.EditBook{
	display: flex;
	justify-content: center;
}